input:focus {
  border: 2px solid #000;
  background: #006400;
  color:white
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff000;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
}
th, td {
    padding: 10px;
}